body {
    background-color: antiquewhite;
}

p{
    color: cadetblue;
    font-weight: bold;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 5px;
    display: flex;
}

label{
    color: cadetblue;
    font-weight: bold;
    font-size: 16px;
}

span {
    color: red;
}

#error {
    color: red;
    font-size: 16px;
    justify-content: left;
    margin-top: 5px;
}

button{
    margin-top: 10px;
}
