/* Estilos para el contenedor principal del juego */
#arena {
    width: 512px; /* Anchura del contenedor */
    height: 256px; /* Altura del contenedor */
    background-image: url("../img/arena/arenas/0.gif"); /* Imagen de fondo */
    background-size: cover; /* Ajuste de la imagen de fondo */
    background-position: center; /* Posicionamiento de la imagen de fondo */
    display: flex; /* Mostrar como un flex container */
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
    border: 2px; /* Grosor del borde */
    border-color: black; /* Color del borde */
    border-style: outset; /* Estilo del borde */
}

/* Estilos para el contenedor de botones */
.contenedor {
    display: flex; /* Mostrar como un flex container */
    align-items: center; /* Centrar verticalmente el contenido */
    align-content: center; /* Alinear el contenido en el eje de contenido */
    align-self: center; /* Alinear el contenido respecto a sí mismo */
    margin-top: 20px; /* Margen superior */
    margin-bottom: 20px; /* Margen inferior */
    justify-content: center; /* Centrar horizontalmente el contenido */
}

/* Estilos para los botones */
button {
    background-color: #fa8b2a; /* Color de fondo del botón */
    color: #000000; /* Color del texto */
    font-size: 16px; /* Tamaño de fuente */
    font-weight: bolder; /* Grosor de la fuente */
    text-shadow: -1px 1px white; /* Sombra de texto */
    height: 42px; /* Altura del botón */
    padding-left: 10px; /* Espaciado interno izquierdo */
    padding-right: 10px; /* Espaciado interno derecho */
    border-radius: 10%; /* Radio de borde */
    margin: 5px; /* Margen externo */
}

/* Estilos para el estado deshabilitado del botón */
button:disabled {
    background-color: #9c6331; /* Color de fondo cuando está deshabilitado */
}

/* Estilos para el estado activo del botón */
button:enabled:hover {
    background-color: rgba(255, 165, 0); /* Color de fondo al pasar el ratón */
}

/* Estilos para el estado deshabilitado del botón al pasar el ratón */
button:disabled:hover {
    background-color: #b8783f; /* Color de fondo al pasar el ratón cuando está deshabilitado */
}

/* Estilos para el contenedor de estado */
#status {
    display: flex; /* Mostrar como un flex container */
    justify-content: center; /* Centrar horizontalmente el contenido */
    text-shadow: -1px 1px white; /* Sombra de texto */
}

/* Estilos para el estado 1 y estado 2 */
#status1,
#status2 {
    background-color: #fa8b2a; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    border-radius: 30px; /* Radio de borde */
    border-width: 3px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde */
    margin-right: 70px; /* Margen derecho */
    margin-left: 70px; /* Margen izquierdo */
    text-align: center; /* Alineación del texto */
    font-weight: bolder; /* Grosor de la fuente */
    font-size: 25px; /* Tamaño de fuente */
}

/* Estilos para los párrafos */
p {
    font-size: 18px; /* Tamaño de fuente */
    margin: 0px; /* Margen */
}

/* Estilos para los elementos con id vidagoku, kigoku, vidapiccolo y kipiccolo */
#vidagoku,
#kigoku,
#vidapiccolo,
#kipiccolo {
    font-weight: normal; /* Grosor de la fuente */
}

/* Estilos para los elementos con id ayuda y volumen */
#ayuda,
#volumen {
    margin-top: -10px; /* Margen superior */
    margin-bottom: -10px; /* Margen inferior */
    margin-left: 10px; /* Margen izquierdo */
    margin-right: 10px; /* Margen derecho */
    width: 22px; /* Anchura */
    height: 22px; /* Altura */
    background-color: #fa8b2a; /* Color de fondo */
    border-radius: 30px; /* Radio de borde */
    border-width: 3px; /* Grosor del borde */
    border-style: solid; /* Estilo del borde */
    text-align: center; /* Alineación del texto */
}

/* Estilos para los elementos ayuda y volumen al pasar el ratón */
#volumen:hover,
#ayuda:hover {
    shape-outside: margin-box; /* Estilo del cursor */
    cursor: default; /* Tipo de cursor */
    background-color: rgba(255, 165, 0); /* Color de fondo al pasar el ratón */
}

/* Estilos para la ventana flotante */
.ventana-flotante {
    position: fixed; /* Posicionamiento fijo */
    top: 50%; /* Distancia desde la parte superior */
    left: 50%; /* Distancia desde la parte izquierda */
    transform: translate(-50%, -50%); /* Centrar la ventana en la página */
    background-color: #fa8b2a; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    display: none; /* No mostrar por defecto */
    width: 40vw; /* Anchura */
    max-height: 40vw; /* Altura máxima */
    overflow-y: auto; /* Permitir desplazamiento vertical */
    border-radius: 20px; /* Radio de borde */
    border: #c56613; /* Borde */
    border-style: double; /* Estilo del borde */
    border-width: 10px; /* Grosor del borde */
    z-index: 9; /* Capa más alta */
}

/* Estilos para el botón de cerrar la ventana flotante */
.cerrar {
    position: absolute; /* Posicionamiento absoluto */
    top: 10px; /* Distancia desde la parte superior */
    right: 10px; /* Distancia desde la parte derecha */
    background: none; /* Fondo transparente */
    border: none; /* Sin borde */
    cursor: pointer; /* Tipo de cursor */
}

/* Media query para pantallas de hasta 550px */
@media screen and (max-width:550px) {
    /* Aplicar estilos a los elementos #arena y #pelea */
    #arena,
    #pelea {
        width: 95%; /* Anchura del 95% */
        height: auto; /* Altura automática */
    }

    /* Aplicar estilos a la ventana flotante */
    .ventana-flotante {
        width: 80vw; /* Anchura del 80% */
        max-height: 80vw; /* Altura máxima del 80% */
    }
}