@font-face {
    font-family: "Saiyan Sans";
    src: url("../font/SS.ttf") format("trueType");
  }
  
  body{
    background-image: url('../img/background.jpg');
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
body::-webkit-scrollbar {
    width: 15px;
  }
  
  body::-webkit-scrollbar-track {
    border-radius: 50px;
  }
  
  body::-webkit-scrollbar-thumb {
    background: orange;
    border-radius: 50px;
  }
  
  body::-webkit-scrollbar-thumb:hover {
    background: rgb(255, 101, 0);
  }
#header {
    background-color: rgba(255, 165, 0, 0.7);
    padding: 10px;
    border-radius: 40px;  
    width: 95%;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
    align-items: center; 
}

#header div {
    display: inline-block;
    margin: 5px;
}

#header a {
    display: inline-block;
    text-decoration: none; 
    margin: 0 10px; 
    padding: 5px 10px; 
    font-family: Arial, sans-serif; 
    font-size: 16px;
    color: white;
}

#header div:hover {
    background-color: #f6ce85;
    border-radius: 10px; 
}

#contenido{
    flex:1;
    margin-bottom: 60px;
}

#espaciado{
    padding: 30px;
}

#footer {
    background-color: #0d1117;
    width: 100%;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center; 
    position: fixed;
    bottom: 0px;
    z-index: 9;
    left:0px;
}

#footer div {
    display: inline-block;
    margin: 5px;
    color: white;;
}

#footer a {
    display: inline-block;
    text-decoration: none; 
    margin: 0 10px; 
    padding: 5px 10px; 
    font-family: Arial, sans-serif; 
    font-size: 16px;
    color: white;
}

#footer div:hover {
    background-color: #238636;
    border-radius: 10px; 
}

h1{
    color:red;
    font-family: "Saiyan Sans";
    font-size: 48px;
    font-weight: lighter;
    font-stretch:extra-expanded;
    font-style: italic;
}


@media screen and (max-width:550px) {
    #header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #footer{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #espaciado{
        padding: 100px;
    }
}