@font-face {
  font-family: "Saiyan Sans";
  src: url("../font/SS.ttf") format("trueType");
}

@font-face {
  font-family: "Instruction";
  src: url("../font/InstructionBold.otf") format(".otf");
}

h1 {
  text-align: center;
  margin-bottom: 10px;
}

h2 {
  color: #000000;
  font-family: "Instruction";
  font-size: 26px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10%;
  font-weight: bolder;
  text-shadow: -1px 1px white;
  margin: 5px;
}

#contenedor {
  display: flex;
  align-items: center;
  justify-content: center;

}

#parte1 {
  background-color: rgb(255, 165, 0, 0.3);
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 20px;
}

#parte2 {
  display: flex;
  height: 100%;
  padding: 20px 20px 20px 20px;
  margin-right: 0px;
  flex-direction: column;
  align-self: center;
}

button.carta {
  background-image: url(../img/card.png);
  background-size: cover;
  width: 100px;
  height: 100px;
  padding: 5px;
  cursor: pointer;
  border-radius: 10px;
}

.estadisticas {
  border: 3px solid #fa8b2a;
  width: 250px;
  border-radius: 10px;
  padding: 10px 20px;
  box-sizing: border-box;
}

#iniciar {
  background-color: #fa8b2a;
  color: #000000;
  width: 200px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 30px;
  font-family: "Instruction";
  cursor: pointer;
  border-radius: 10%;
  font-weight: bolder;
  text-shadow: -1px 1px white;
  margin: 5px;
}

button#iniciar:enabled:hover {
  background-color: rgba(255, 165, 0);
}

button.carta:enabled:hover {
  opacity: 0.7;
}

#iniciar.disabled {
  background-color: #9c6331;
  cursor: not-allowed;
}

button.carta.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

h2 #record,
#contador_aciertos,
#temporizador,
#contador_movimientos {
  color: #000000;
}

span#temporizador.poco_tiempo {
  color: #fbb224;
}

span#temporizador.ultimos_segundos {
  color: red;
}