/* Reset de márgenes, rellenos y box-sizing para todos los elementos */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el contenedor principal de la aplicación */
.app {
  background: rgba(255, 248, 183, 0.213); /* Fondo con un color RGBA */
  width: 90%; /* Anchura del 90% */
  max-width: 600px; /* Anchura máxima de 600px */
  margin: 10px auto 0; /* Márgenes superior e inferior automáticos y 10px a la derecha e izquierda */
  border-radius: 10px; /* Radio del borde de 10px */
  padding: 10px; /* Relleno interior de 10px */
}

/* Estilos para el título principal de la aplicación */
.app h1 {
  border-bottom: 1px solid #333; /* Borde inferior sólido de 1px */
  padding-bottom: 30px; /* Relleno inferior de 30px */
  text-align: center; /* Alineación del texto centrada */
}

/* Estilos para el contenedor del quiz */
.quiz {
  padding: 20px 0; /* Relleno de 20px arriba y abajo */
}

/* Estilos para el título del quiz */
.quiz h2 {
  font-size: 18px; /* Tamaño de fuente de 18px */
  color: #001e4d; /* Color del texto */
  font-weight: 600; /* Grosor de la fuente */
}

/* Estilos para los botones */
.btn {
  background: #fff; /* Fondo blanco */
  color: #222; /* Color del texto */
  font-weight: 500; /* Grosor de la fuente */
  width: 100%; /* Anchura del 100% */
  border: 1px solid #222; /* Borde sólido de 1px */
  padding: 10px; /* Relleno interior de 10px */
  margin: 10px 0; /* Márgenes superior e inferior de 10px */
  text-align: left; /* Alineación del texto a la izquierda */
  border-radius: 4px; /* Radio del borde de 4px */
  cursor: pointer; /* Cursor de tipo puntero */
  transition: all 0.2s; /* Transición suave de todas las propiedades durante 0.2 segundos */
}

/* Estilos para el estado hover de los botones */
.btn:hover:not([disabled]) {
  background: rgba(255, 165, 0, 0.7); /* Fondo con color RGBA en estado hover */
}

/* Estilos para el botón de siguiente pregunta */
#next-btn {
  background-color: #fa8b2a; /* Color de fondo */
  color: #000000; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bolder; /* Grosor de la fuente */
  text-shadow: -1px 1px white; /* Sombra de texto */
  height: 42px; /* Altura */
  padding-left: 10px; /* Relleno interior izquierdo de 10px */
  padding-right: 10px; /* Relleno interior derecho de 10px */
  border-radius: 10%; /* Radio del borde de 10% */
  margin: 20px auto 0; /* Márgenes superior automático, 0 en los laterales */
  cursor: pointer; /* Cursor de tipo puntero */
  display: none; /* No mostrar por defecto */
}

/* Estilos para la clase correct, aplicada a elementos correctos */
.correct {
  background: #9aeabc; /* Fondo verde */
}

/* Estilos para la clase incorrect, aplicada a elementos incorrectos */
.incorrect {
  background: #ff9393; /* Fondo rojo */
}
