body {
    background-color: antiquewhite;
}

.fila {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}

.fila img {
    width: 75%;
}


p {
    color: cadetblue;
    font-weight: bold;
    font-size: 48px;
    margin-top: 0px;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}

span {
    color: red;
}

h6 {
    display: flex;
    justify-content: center;
    align-items: center;
}

h6 span {
    background-color: azure;
    font-size: 24px;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border-radius: 50%;
    border: 10px double red;
}