body, html {
    background-color: azure;
    height: 100%;
    width: 100%;
    margin: 0;
}

#contenedor {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

div {
    width: 100px;
    height: 100px;
}

#caja1 {
    background-color: aqua;
    margin-bottom: 400px;
}

#caja2 {
    background-color: blueviolet;
    margin-bottom: 200px;
}

#caja3 {
    background-color: orange;
}

#caja4 {
    background-color: palevioletred;
    margin-top: 200px;
}

#caja5 {
    background-color: yellowgreen;
    margin-top: 400px;
}